@charset "EUC-KR";

.screen-middle{
	margin-top:11px;
	display:inline-block;
	background-color:#ffffff;
	width:48%;
	min-height:440px;
	min-width:670px;
  padding:27px 0 17px 0;
  border-radius:5px;
  border:0.05px solid #7D7D7D;
  margin-bottom:23px;
}
.title-zone{
  text-align:left;
  font-size:23px;
  word-break:break-all;
  padding-left:15px;
  padding-bottom:7px;
  font-weight:600;
}

.writer-zone{
   text-align:left;
}

.writer-name{
  display:inline-block;
}
.info-zone{
	border-top:0.2px solid #c5c5c5;
  margin-top:6px;
  padding:6px 10px 0px 11px;
  display:flex;
  justify-content:space-between;
}

.info-right{
  color:#555555;
}

.see,.article-time{
  display:inline-block;
  padding-right: 10.4px;
  padding-left:4.1px;
  border-right:0.2px solid #c5c5c5;
}

.des-zone{
  text-align:left;
  margin-top:19px;
  font-size:17px;
  padding:21px;
}

.comment-zone{
  text-align:left;
  font-size:19px;
  
}

.sort-way{
  font-size:13px;
  cursor:pointer;
}
#sortByLikes{
  margin-left:10px;
  color:#40DA50;
}


.comment-info{


  }
.comment-top{
  display:inline-block;
  padding-top:8px;
  cursor:pointer;
}

.comment-box{
	border-bottom:0.1px solid #c5c5c5;
	  padding : 7px 15px 7px 15px;
	
}

.comment-time{
    color:#555555;
    font-size:15px;
}

.comment-des{
   padding-left:8px;
   font-size:15.5px;
}

.comment-bottom{
  text-align:right;
}
.comment-like{
  display:inline-block;
  padding-right:13.6px;
  cursor:pointer;
  text-align:center;
}

.comment-like-num{
  display:inline-block;
  font-size:17px;
  padding-top:5px;
  color:#c62917;
}

.comment-report{
  font-size:14px;
  display:inline-block;
  color:#555555;
  margin-top:10.5px;
    cursor:pointer;
}

.write-reply{
    display:inline-block;
  padding-right:13.6px;
  cursor:pointer;
  font-size:15px;
  padding-top:5px;
  text-align:center;
 color:#0ca5af;
}

.write-reply-anony{
    display:inline-block;
  padding-right:13.6px;
  cursor:pointer;
  font-size:15px;
  padding-top:5px;
  text-align:center;
 color:#0ca5af;
}



.no-comment{
	text-align:center;
}

.write-comment{
  margin-top:17px;
  background-color:white;
  text-align:center;
  margin:17px 8px 0px 8px;
  border:0.2px solid #c5c5c5;
  border-radius:5px;;
  padding:5px 5.1px;
}

.comment-input{
    width:89%;
    min-height:20px;
    border:0;
    font-size:16px;
    padding:7px;
          word-wrap: break-word;
        word-break: break-all;
}
.comment-submit{
	display:inline-block;
	width:6%;
	font-size:15px;
	background-color:#2871D5;
	padding: 3.6px 3.1px;
	color:white;	
	cursor:pointer;
	border-radius:7px;
}
input:focus{
  outline:none;
}

.comment-login{
	text-align:center;
	font-size:16px;
	padding-top:19px;
	margin-bottom:6.8px;
	
}

.article-bottom{
	margin-top:55px;
	display:flex;
	justify-content:space-between;
	padding:7px;
}

.article-like{
	padding: 4px 26px;
	padding-bottom:8px;
	border:0.1px solid #c62917;
	border-radius:21px;
	cursor:pointer;	
}

.writer-option{
	margin-top:13px;
	display:inline-block;
	padding:3px 9px;
	font-size:16px;
	cursor:pointer;
	border-radius:5.2px;
}

#edit-article{
	border:0.2px solid #13ac39;
	color: #13ac39;
}

#delete-article{
	border:0.2px solid #f7114a;
	color:#f7114a;
}

.article-report{
	width:101.16px;
	text-align:center;
	padding-top:25px;
}

.article-like-num{
	  display:inline-block;
  font-size:17px;
  padding-top:5px;
  color:#c62917;
	
}

#reply-submit{
	display:inline-block;
	width:6.3%;
	font-size:15px;
	background-color:#2871D5;
	padding: 3.6px 4.4px;
	color:white;	
	cursor:pointer;
	border-radius:7px;
	
}

.reply-input{
	
	margin-top:9px;
	width:97%;
	min-height:20px;
    border:0;
    font-size:16px;
    padding:0px 7px 5px 7px;
    border-top:0.1px solid #c5c5c5;
    
}

.commentCount{
	margin-left:11px;
}

.reply-input-box{
	display:inline-block;
		width:89%;
	min-height:20px;
    border:0;
    font-size:16px;
    padding:0px 7px 5px 7px;
}

.comment-menu{
	font-size:14.4px;
	cursor:pointer;
}

.edit-comment{
	color:#13ac39;
	margin-right:5px;
}

.delete-comment{
	color:#f7114a;
	
}
