@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');



body{
  background-color:#F3F3F3;
   margin:0;
  font-family: 'Noto Sans KR', sans-serif;
}
.wrap-content{
  background-color:#ffffff;
  height:auto;
  display:inline-block;
  width:55%;
  border:0.05px solid #c5c5c5;
  text-align:center;
  vertical-align:top;
}
.screen-middle{
	
	text-align:center;
}

.screen-side{
  display:inline-block;
  width:21%;
}
.menuBox{
  display:inline-block;
  width:223px;
  height:400px;
  background-color:#ffffff;
  margin-left:5px;
  padding-top:5px;
  border:0.05px solid #c5c5c5;
}



.articleBox{
  border-bottom:0.1px solid #c5c5c5;
  padding: 5px 20px 5px 20px;
}

.titleBox{
  text-align:left;
  font-size:17px;
}

.article-top{
  display:flex;
  justify-content:space-between;
  
}

.writerImage{
   width:27px;
   height:27px;
  border-radius:70%; 
  vertical-align:middle;
}
.writerNickname{
    font-size:15px;
    padding-left:3px;
}
.article-bottom{
  display:flex;
  justify-content:space-between;
  margin-top:1px;
}

.article-info{
  width:11px;
  vertical-align:middle;
}

.likes{
  font-size:14px;
  color:#c62917;  
  margin-right:7px;
}



.comments{
  font-size:14px;
  color:#0ca5af;
}


.content-top{
	margin-bottom:5px;
	display:flex;
	justify-content:space-between;
  border-bottom:0.2px solid #c5c5c5;
  padding:5px;
}

.search-bar{
  padding:2px 0 2px 0;
	display:inline-block;
	background-color:#ffffff;
  border:0.2px solid #c5c5c5;
	width:78%;
  border-radius:4px 0 4px 0;
  vertical-align:middle;
  
}

.search-input{
  border:0;
  width:88%;
  font-size:22px;
}
.search-input:focus {outline:none;}

.search-btn{
  display:inline-block;
  text-align:right;
  padding-top:5px;
 
}

.write-article{
  width:21%;
  padding-top:4.2px;
  text-align:center;
  vertical-align:middle;
}
.write-btn{
  display:inline-block;
  width:120px;
  font-size:20px;
  padding: 7px 0;
  border-radius:6px;
  background-color :#1454CD;
  font-weight:600;
  color:#ffffff;
}

.write-btn:hover{
	background-color:#1043a0;
	cursor:pointer;
}


.search-btn:hover{cursor:pointer;}
.titleBox:hover{cursor:pointer;}
.writerBox:hover{cursor:pointer;}


.screen-bottom{
  text-align:center;
  display:flex;
  justify-content:space-between;
  margin-top:5px;
  margin-bottom:22px;
}

.page-btn{
   display:inline-block;
   cursor:pointer;
   border:0.1px solid #1969FF;
   font-size:17px;
    color:#1969FF;
  padding:6px 14px 6px 14px;
  border-radius:7px;
  background-color:#ffffff;
}

.bottom-cont{	
	display:inline-block; width:55%;
}

#prev-btn{
	display:none;
}
#first-btn{
	display:none;
}
.menu-btn{
  display:inline-block;
  width : 184px;
  margin-bottom:5.1px;
  text-align:center;
  border-radius:7.8px;
  padding: 7.4px 0;
  cursor:pointer;
  font-weight:750;
    color:white;
    font-size:19px;
}

.signout-btn{
  background-color:#EA2E2E;

}
.signout-btn:hover{
  background-color:#BD2626;
}

.signin-btn{
  background-color:#21D082;
}
.signin-btn:hover{
  background-color:#1DB973;
}

.signup-btn{
  background-color:#27D9C2;
}
.signup-btn:hover{
  background-color:#25AD9C;
}

.mypage-btn{
  background-color:#8944DC;
}

.mypage-btn:hover{
  background-color:#6935A7;
}